{% extends "rango/base.html" %}

{% block title %}Profile{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <h1> Profile <h1> <br/>
            <h2>{{ user.username }}</h2>
            <p>Email: {{ user.email }}</p>

            {% if userprofile %}
                <p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
                <br/>
                {% if userprofile.picture %}
                    <img src="{{ userprofile.picture.url }}"  />
                {% endif %}
            {% endif %}

            <form id="user_form" method="post" action="{% url 'add_profile' %}" enctype="multipart/form-data">

                {% csrf_token %}
                {{ profile_form.as_p }}

                <input type="submit" name="submit" value="Submit Profile Details" />
            </form>


    </div>
{% endblock %}
