{% extends "rango/base.html" %}

{% block title %}Profile{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <h1> Profile <h1> <br/>
            <h2>Username: {{ user2.username }}</h2>
            <p>Email: {{ user2.email }}</p>

            {% if userprofile %}
                <p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
                <br/>
                {% if userprofile.picture %}
                    <img src="{{ userprofile.picture.url }}"  />
                {% endif %}
            {% endif %}

            <br>
            {% if user.is_authenticated and logged_in_user == user.username %}
                <h1>Change your profile here! </h1><br/>

                <form id="user_form" method="post" action="{% url 'profile' user.username %}" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ profile_form.as_p }}

                    <input type="submit" name="submit" value="Edit profile" />
                </form>
            {% endif %}

    </div>
{% endblock %}
